/* comentario en sass y css */
/*Importar Tipografia*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: 'Poppins', sans-serif; }

/*Porpiedades Navbar*/
header .nav.justify-content-center {
  background-color: #FFFFFF;
  padding: 5px; }

header .nav.justify-content-center a {
  color: black;
  text-decoration: none; }

/*Propiedades bg-home*/
.bg-home {
  background-image: url(../images/home.png);
  background-size: cover;
  background-repeat: no-repeat; }

/*Propiedades Main*/
main .jumbotron {
  display: grid;
  align-items: center;
  height: 100vh; }

main .container h1 {
  font-size: 34px;
  color: black;
  margin-bottom: 1rem;
  margin: 10px; }

main .container p {
  font-size: 20px;
  font-weight: 200;
  color: black;
  margin-bottom: 1rem;
  margin: 10px; }

/*Porpiedades Footer*/
footer .nav.justify-content-center {
  background-color: #FFFFFF;
  padding: 5px; }

footer .nav.justify-content-center a {
  color: black;
  text-decoration: none; }
